<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>火线资本</title>
    <link href="../../static/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../static/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="../../static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <meta name="keywords" content="火线,火线资本,火线资产,上海火线资产管理有限公司"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--webfont-->
    <link href='../../static/css/tahoma.font.css' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- header-section-starts -->
<div class="header">
    <div class="container">
        <div class="logo">
            <a href="/home/"><img src="../../static/img/logo.png" class="img-responsive" alt=""/></a>
        </div>
        <div class="header-right">
            <h4><i class="phone"></i>&nbsp&nbsp&nbsp&nbsp</h4>
            <span class="menu"></span>
            <div class="top-menu">
                <ul>
                    <li><a href="/home/">首页</a></li>
                    <li><a class="active" href="/home/product/">私募产品</a></li>
                    <li><a href="/home/about/">关于我们</a></li>
                    <li><a href="/home/services/">发现火线</a></li>
                    <!--li><a href="blog.html">火线动态</a></li-->
                    <li><a href="/home/messages/">联系我们</a></li>
                </ul>
            </div>
            <!-- script for menu -->
            <script>
                $("span.menu").click(function () {
                    $(".top-menu").slideToggle("slow", function () {
                        // Animation complete.
                    });
                });
            </script>
            <!-- script for menu -->
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- header-section-ends -->
<div class="content">
    <div class="container">
        <div class="error-404 text-center">
            <h2>404</h2>
            <p>this link dead link</p>
            <a class="b-home" href="/home/">Back to Home</a>
        </div>
    </div>
</div>
</div>
<div class="footer text-center">
    <div class="social-icons">
        <a href="#">沪ICP备15050609号</a>
    </div>
    <div class="copyright">
        <p>Copyright &copy; 2017 All rights reserved | FireCapital</p>
    </div>
</div>
</body>
</html>