<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>火线资本</title>
    <link href="../../static/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../static/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="../../static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <meta name="keywords" content="火线,火线资本,火线资产,上海火线资产管理有限公司"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--webfont-->
    <link href='../../static/tahoma.font.css'
          rel='stylesheet' type='text/css'>
</head>
<body>
<!-- header-section-starts -->
<div class="header">
    <div class="container">
        <div class="logo">
            <a href="/home/"><img src="../../static/img/logo.png" class="img-responsive" alt=""/></a>
        </div>
        <div class="header-right">
            <h4><i class="phone"></i>&nbsp&nbsp&nbsp&nbsp</h4>
            <span class="menu"></span>
            <div class="top-menu">
                <ul>
                    <li><a href="/home/">首页</a></li>
                    <li><a href="/home/product/">私募产品</a></li>
                    <li><a class="active" href="/home/about/">关于我们</a></li>
                    <li><a href="/home/services/">发现火线</a></li>
                    <!--li><a href="blog.html">火线动态</a></li-->
                    <li><a href="/home/messages/">联系我们</a></li>
                </ul>
            </div>
            <!-- script for menu -->
            <script>
                $("span.menu").click(function () {
                    $(".top-menu").slideToggle("slow", function () {
                        // Animation complete.
                    });
                });
            </script>
            <!-- script for menu -->
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- header-section-ends -->
<div class="content text-center">
    <div class="who_we_are">
        <div class="container">
            <div class="grid_12">
                <header>
                    <h3>火线资本</h3>
                </header>
                <h5>上海火线资产管理有限公司是在中国基金业协会备案的私募基金管理机构，注册资金1亿人民币。公司致力于股票市场和期货市场的人工智能量化交易。</h5>
                <p>公司核心成员以清华校友为基础，以博士和硕士为主体的高素质人才团队。团队在人工智能、机器学习、大数据挖掘上拥有深厚的学术功底。是国内较早将人工智能技术运用到金融交易市场的团队。
                </p>
                <p>目前团队拥有自主开发的全自动交易平台，具有良好的安全性和扩展性，已成功对接上期技术、融行、迅投等国内交易接口和资管平台。
                </p>
                <p>火线资本以金融大数据为基础，以人工智能、深入学习为工具，专注量化投资，以稳健回报为目标，致力于为机构投资者实现稳健的绝对收益而服务。</p>
            </div>
            <div class="grid_5"><img src="../../static/img/index-1_img-1.jpg" alt=""></div>
            <div class="grid_6"><img src="../../static/img/index-1_img-2.jpg" alt=""></div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="why_choose_us">
        <div class="container">
            <div class="row">
                <header>
                    <h3>交易策略</h3>
                </header>
            </div>
            <div class="col-md-4 grid_4">
                <div>
                    <span>量化选股</span>
                    <p>Maecenas molesetdbus idictum. Ut neque purus, sollic alitudin non ante ac, malesuada condimentum
                        libero. Nunc hendrerit augue vel tempor posuere. Cras consectetur.</p>
                </div>
            </div>
            <div class="col-md-4 grid_4">
                <div>
                    <span>+ALPHA</span>
                    <p>Maecenas molesetdbus idictum. Ut neque purus, sollic alitudin non ante ac, malesuada condimentum
                        libero. Nunc hendrerit augue vel tempor posuere. Cras consectetur.</p>

                </div>
            </div>
            <div class="col-md-4 grid_4">
                <div>
                    <span>量化择时</span>
                    <p>Maecenas molesetdbus idictum. Ut neque purus, sollic alitudin non ante ac, malesuada condimentum
                        libero. Nunc hendrerit augue vel tempor posuere. Cras consectetur.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="latest-news">
        <div class="container">
            <div class="row">
                <header>
                    <h3>投研团队</h3>
                </header>
            </div>
            <div class="col-md-4 grid_7">
                <div class="element">
                    <img src="../../static/img/zr.jpg" alt="">
                    <h4>张 然</h4>
                    <h5>清华大学  硕士</h5>
                    <p>8年以上量化交易经验，曾在期货公司工作6年，任资产管理部基金经理。对量化模型，风险控制，市场分析具有丰富经验。</p>
                </div>
            </div>
            <div class="col-md-4 grid_7">
                <div class="element">
                    <img src="../../static/img/syq.jpg" alt="">
                    <h4>宋 怡 桥</h4>
                    <h5>清华大学  工科博士</h5>
                    <p>曾在大型证券公司从事研究工作，在量化投资领域有多年实践经验。是数学建模，数量分析，智能学习领域的研究专家。</p>
                </div>
            </div>
            <div class="col-md-4 grid_7">
                <div class="element">
                    <img src="../../static/img/pdl.jpg" alt="">
                    <h4>彭 德 龙</h4>
                    <h5>清华大学   工程物理系学士</h5>
                    <p>长于软件编程，数学建模，风险控制。在交易模型建模上具有丰富经验，熟练掌握各种数量分析工具。</p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<div class="footer text-center">
    <div class="social-icons">
        <a href="#">沪ICP备15050609号</a>
    </div>
    <div class="copyright">
        <p>Copyright &copy; 2017 All rights reserved | FireCapital</p>
    </div>
</div>
</body>
</html>