<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>火线资本</title>
    <link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <meta name="keywords" content="火线,火线资本,火线资产,上海火线资产管理有限公司"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--webfont-->
    <link href='../static/css/tahoma.font.css' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- header-section-starts -->
<div class="header">
    <div class="container">
        <div class="logo">
            <a href="/home/"><img src="../static/img/logo.png" class="img-responsive" alt=""/></a>
        </div>
        <div class="header-right">
            <h4><i class="phone"></i>&nbsp&nbsp&nbsp&nbsp</h4>
            <span class="menu"></span>
            <div class="top-menu">
                <ul>
                    <li><a class="active" href="">首页</a></li>
                    <li><a href="/home/product/">私募产品</a></li>
                    <li><a href="/home/about/">关于我们</a></li>
                    <li><a href="/home/services/">发现火线</a></li>
                    <!--li><a href="blog.html">火线动态</a></li-->
                    <li><a href="/home/messages/">联系我们</a></li>
                </ul>
            </div>
            <!-- script for menu -->
            <script>
                $("span.menu").click(function () {
                    $(".top-menu").slideToggle("slow", function () {
                        // Animation complete.
                    });
                });
            </script>
            <!-- script for menu -->

        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- header-section-ends -->
<div class="banner">
    <div class="container">
        <div class="banner-info">
            <h2>以客户为中心</h2>
            <p>以科技为本</p>
            <p>长期坚持工匠精神</p>
            <a href="/home/messages/" class="btn btn-1 btn-1d">火线资本</a>
        </div>
    </div>
</div>
<div class="content">
    <div class="services-section">
        <div class="container">
            <h3>量化平台</h3>
            <div class="services-section-grids">
                <div class="col-md-4 services-section-grid1">
                    <div class="services-section-grid1-top">
                        <h4>MULTITHREAD</h4>
                        <p>实现多账户多策略并发交易</p>
                        <div class="icons">
                            <div class="icon-left">
                                <i class="call"></i>
                            </div>
                            <div class="icon-right">
                                <a href="#"><i class="arrow arrow1"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="services-section-grid1-bottom">
                        <h4>DOCKING</h4>
                        <p>完美对接国内主流资管平台</p>
                        <div class="icons">
                            <div class="icon-left">
                                <i class="callmsg"></i>
                            </div>
                            <div class="icon-right">
                                <a href="#"><i class="arrow arrow2"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 services-section-grid2">
                    <h4>PLATFORM</h4>
                    <p>历时五年的研发</p>
                    <p>光子量化交易系统</p>
                    <div class="icons icons2">
                        <div class="icon-left">
                            <i class="interact"></i>
                        </div>
                        <div class="icon-right" style="visibility: hidden">
                            <a href="#"><i class="arrow arrow3"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-4 services-section-grid3">
                    <div class="services-section-grid3-top">
                        <h4>PROCEDURAL</h4>
                        <p>完美对接国内主流程序化交易及接口</p>
                        <div class="icons">
                            <div class="icon-left">
                                <i class="dt"></i>
                            </div>
                            <div class="icon-right">
                                <a href="#"><i class="arrow-left arrow4"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="services-section-grid3-bottom">
                        <h4>RISK</h4>
                        <p>具备完善风险控制功能</p>
                        <div class="icons">
                            <div class="icon-left">
                                <i class="zoom"></i>
                            </div>
                            <div class="icon-right">
                                <a href="#"><i class="arrow-left arrow5"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="subscribe-section">
       		<div class="container">
			<div class="subscribe-section-grids">
				<div class="col-md-8 subscribe">
					<h3>Subscribe for our free PDF Ebook</h3>
					<input type="text" class="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
					<a href="#">Download PDF</a>
				</div>
				<div class="col-md-4 book">
					<img src="../static/img/book.png" alt="" >
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
    </div>
</div>
<div class="our-clients">
    <div class="container">
        <div class="our-clients-head text-center">
            <h3>我们的产品</h3>
        </div>
        <!---strat-image-cursuals---->
        <div class="scroll-slider">
            <div class="nbs-flexisel-container">
                <div class="nbs-flexisel-inner">
                    <ul class="flexiselDemo3 nbs-flexisel-ul" style="left: -253.6px; display: block;">
                        <li><img src="../static/img/c1.jpg"></li>
                        <li><img src="../static/img/c2.jpg"></li>
                        <li><img src="../static/img/c3.jpg"></li>
                        <li><img src="../static/img/c4.jpg"></li>
                        <li><img src="../static/img/c5.jpg"></li>
                    </ul>
                    <div class="nbs-flexisel-nav-left" style="display:none"></div>
                    <div class="nbs-flexisel-nav-right" style="display:none"></div>
                </div>
            </div>
            <div class="clear"></div>
            <!---strat-image-cursuals---->
            <script type="text/javascript" src="../static/js/jquery.flexisel.js"></script>
            <!---End-image-cursuals---->
            <script type="text/javascript">
                $(window).load(function () {
                    $(".flexiselDemo3").flexisel({
                        visibleItems: 4,
                        animationSpeed: 1000,
                        autoPlay: true,
                        autoPlaySpeed: 3000,
                        pauseOnHover: true,
                        enableResponsiveBreakpoints: true,
                        responsiveBreakpoints: {
                            portrait: {
                                changePoint: 480,
                                visibleItems: 1
                            },
                            landscape: {
                                changePoint: 640,
                                visibleItems: 2
                            },
                            tablet: {
                                changePoint: 768,
                                visibleItems: 3
                            }
                        }
                    });
                });
            </script>
            <!---->
            <!---->
        </div>
    </div>

    <!---//End-signin---->
</div>
<div class="testimonials-section">
    <div class="container">
        <div class="testimonials-section-head text-center">
            <h3>&nbsp&nbsp&nbsp&nbsp</h3>
        </div>
        <div class="members">
            <div class="col-md-4 member1">
                <img src="../static/img/zzx.jpg" alt=""/>
                <div class="text text-center">
                    <h4>张志相</h4>
                    <p>执行董事兼总经理</p>
                </div>
            </div>
            <div class="col-md-8 description">
                <div class="course_demo">
                    <ul id="flexiselDemo4">
                        <li>
                            <div class="client-text">
                                <p>执行事务合伙人张志相曾就职于中金投资集团、优势资本旗下上海华合资产管理有限公司。</p>
                            </div>
                        </li>
                        <li>
                            <div class="client-text">
                                <p>火线资本具有丰富的量化策略研究经验，基于我们在智能学习和大数据挖掘上的学术优势，从基本的市场运行数据出发，综合运用统计学、数据挖掘、人工智能、机器学习、信号处理等手段，研发新策略。是国内较早将人工智能与机器学习运用到金融交易领域的团队。
</p>
                            </div>
                        </li>
                        <li>
                            <div class="client-text">
                                <p>以清华校友为核心班底，核心成员均为各自领域的专家级人才；交易、分析、编程 人员搭配合理；均有多年量化交易经验；交易策略基于国际先进的智能学习和大数据挖掘的经验和工具；自有交易平台可灵活实现复杂模型，良好的安全性、扩展性；具有稳健的风控流程与资金管理经验。
 </p>
                            </div>
                        </li>
                    </ul>

                </div>
                <script type="text/javascript">
                    $(window).load(function () {
                        $("#flexiselDemo4").flexisel({
                            visibleItems: 1,
                            animationSpeed: 1000,
                            autoPlay: true,
                            autoPlaySpeed: 3000,
                            pauseOnHover: true,
                            enableResponsiveBreakpoints: true,
                            responsiveBreakpoints: {
                                portrait: {
                                    changePoint: 480,
                                    visibleItems: 1
                                },
                                landscape: {
                                    changePoint: 640,
                                    visibleItems: 1
                                },
                                tablet: {
                                    changePoint: 768,
                                    visibleItems: 1
                                }
                            }
                        });

                    });
                </script>
                <script type="text/javascript" src="../static/js/jquery.flexisel.js"></script>

            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
</div>
<div class="contact-section text-center">
    <div class="container">
        <h3>联系我们</h3>
        <div class="contact-top">
            <div class="col-md-4 contact-section-grid text-center">
                <i class="smartphone"></i>
                <p>电话 : 021-68880973</p>
            </div>
            <div class="col-md-4 contact-section-grid text-center">
                <i class="user"></i>
                <p>地址:上海市浦东新区商城路618号良友大厦3层A102</p>
            </div>
            <div class="col-md-4 contact-section-grid text-center">
                <i class="global"></i>
                <p><a href="mail-to:zr@firecapital.cn">E-mail:zr@firecapital.cn</a></p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

</div>
<div class="footer text-center">
    <div class="social-icons">
        <a href="#">沪ICP备15050609号</a>
    </div>
    <div class="copyright">
        <p>Copyright &copy; 2017 All rights reserved | FireCapital</p>
    </div>
</div>
</body>
</html>